<header
  class="bg-zinc-900 flex p-20 gap-10 mg:gap-3 flex-col md:flex-row rounded-md"
>
  <div class="flex flex-col gap-2">
    <h1 class="text-5xl font-bold">Protect Your Password</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, expedita.
    </p>
    <div>
      <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded-md"
        >Start Now</button
      >
    </div>
  </div>
  <img src="/images/fingerprint.svg" alt="image" class="w-80" />
</header>
