---
interface Props {
  title: string;
  body: string;
}
const { title, body } = Astro.props;
---

<div class="bg-sky-500 p-4 m-4 rounded-md">
  <h2>{title}</h2>
  <p>{body}</p>
</div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  .card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    color: #202020;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 10px;
    width: 400px;
  }
</style>
