<footer class="bg-zinc-900 mx-auto flex py-10 gap-4">
  <div class="container mx-auto flex justify-evenly gap-4">
    <div class="flex flex-col gap-2">
      <h4 class="font-bold text-xl">Site Map</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pricing">Pricing</a>
    </div>
    <div class="flex-col flex gap-2">
      <h4 class="font-bold text-xl">Site Map</h4>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
    </div>
    <div class="flex flex-col gap-2">
      <h4 class="font-bold text-xl">Social</h4>
      <a href="/" class="text-blue-600">Facebook</a>
      <a href="/" class="text-purple-400">Instagram</a>
      <a href="/" class="text-teal-300">Twitter</a>
      <a href="/" class="text-red-700">YouTube</a>
    </div>
  </div>
</footer>
